html {
  background-color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: 0px 7px 46px -11px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 7px 46px -11px rgba(0,0,0,0.14);
  box-shadow: 0px 7px 46px -11px rgba(0,0,0,0.14);
  background-color: white;
}

.footer {
  background-color: white;
}

.nav-item a, a.nav-item {
  font-size: 16px;
  letter-spacing:1px;
}

::selection {
  background: #67BC3B; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #67BC3B; /* Gecko Browsers */
}

.hero-body {
  padding-bottom:75px;
}
.hero.is-dark {
  margin-bottom: 25px;
}
