html {
    background: #fff !important;
    font-family: 'Noto Sans', sans-serif !important;
}

p, a, h1, h2, h3, h4, h5 {
  opacity: 1 !important;
}

a {
  color: #42b078;
}

/*.hero.is-success .nav-menu {
  background-color: white !important;
}*/

@media (min-width: 600px) {
    .nav {
        padding-top: 30px;
        /*background: #fff !important;*/
        box-shadow: none !important;
        font-family: 'Noto Sans', sans-serif !important;
    }
    .container {
      width: 90% !important;
      margin: 0px auto;
    }
}
@media (max-width: 600px) {
    .nav {
        width: 90%;
        margin: 0px auto;
        margin-top: 5px;
        font-family: 'Noto Sans', sans-serif !important;
        /*background: #fff !important;*/
        box-shadow: none !important;
    }
    .container {
        width: 95%;
        margin: 0px auto;
    }
    /*.title.is-1 {
        font-size: 35px;
    }
    h2 {
        font-size: 15px;
    }*/
    section {
        text-align: center !important;
    }
    .contactForm {
        width: 90% !important;
        margin: 0px auto !important;
    }
}
h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans', sans-serif !important;
}
.title {
    color: #343642 !important;
}
.navTitle {
    color: #343642 !important;
}
p {
  font-family: 'Noto Sans', sans-serif !important;
    font-size: 18px;
    color: #343642 !important;
}
a {
  font-family: 'Noto Sans', sans-serif !important;
}
button {
  font-family: 'Noto Sans', sans-serif !important;
}
.nav-item {
    color: #343642;
    font-size: 22px;
}

.section {
    background: #fff !important;
}
.contactForm {
    margin: 0px auto;
    width: 50%;
}
.card {
    background-color: rgba(0, 0, 0, 0.02);
}
.title {
    font-weight: 400 !important;
}
.subtitle {
    font-weight: 400 !important;
}
.navButton {
    height: auto !important;
    line-height: normal !important;
    color: #962D3E !important;
}
/*.button {
    color: #962D3E !important;
}*/
.mainHome {
    color: #276673 !important;
}
.mainHomeSub {
    color: rgba(52, 136, 153, 0.95) !important;
}
label {
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 20px;
}

.articleTitle {
  font-weight: bold !important;
  color: #42b078 !important;
}

.postContent h2 {
  text-align: center;
  color: rgb(68, 68, 68);
  font-weight: bold !important;
}

.archivePost h1 {
  font-weight: bold !important;
}

footer {
  background: white !important;
  height: 30px;
  padding-top:20px !important;
}

.footIcon {
  padding: 50px;
}

.largeButton {
  font-size: 20px !important;
  padding: 30px;
  width:100%;
}

.largeHeight {
  line-height: 30px;
}
@media (max-width: 600px) {
  .largeHeight {
    font-size: 20px !important;
    line-height: 30px;
  }
  .largeButton {
    font-size: 23px !important;
    padding: 20px;
  }
}

.headIcon {
  padding-top: 10px;
  padding-right: 35px;
}

.gray {
  color: #756b6b !important;
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;
}

ul {
  list-style: circle;
}
li {
  font-family: 'Noto Sans' !important;
  font-weight: normal;
}

.small {
  font-size: 17px;
}

@media (min-width: 768px) {
  .homeTitle {
    color: #756b6b !important;
    font-size: 95px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1;
    text-align: center;
  }
  .homeTitle a {
    color: #42b078 !important;
  }

}

@media (max-width: 768px) {
  .homeTitle {
    color: #756b6b !important;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
  }
  .homeTitle a {
    color: #42b078 !important;
  }
}

.homeTitle a:hover {
  color: rgba(66, 176, 120, 0.72) !important;
}

@media (min-width: 768px) {
  .homeHeading {
    color: rgb(75, 68, 65);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.5;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .homeHeading {
    color: rgb(75, 68, 65);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1.5;
    text-align: center;
  }
}

.homeButton {
  width: 70%;
  background-color: transparent;
  border: 1px solid gray;
  color: rgb(75, 68, 65) !important;
}

.homeButton:hover {
  color: #544545 !important;
}

.panel {
  border-radius: 0px !important;
}

.panel-heading {
  background: #7ab55c !important;
  border-radius: 0px;
  color: white !important;
  margin-bottom: 0px !important;
}

.finalBlock {
  background-color: #7ab55c !important;
  color: white !important;
}

.finalBlock .button.is-link {
  color: white !important;
  margin-top: 0px;
}

.finalBlock .button.is-link:hover {
  color: black !important;
  margin-top: 0px;
}

.finalBlock .button:hover {
  background: white;
}

.panel-block {
  margin-bottom: 0px !important;
  padding: 20px;
}

.webApp {
  background: #b55c5c !important;
}

.card {
  text-align:center !important;
  -webkit-box-shadow: 0px 3px 26px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 26px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 26px -7px rgba(0,0,0,0.75);
}
/*
.nav-menu {
  background: white !important;
}*/

.homeButton:hover {
  background:#42b078 !important;
  color: white !important;
  width: 30% !important;
}

.hero.is-success .nav-toggle span {
  background: black !important;
}

.greenRibbonText {
  background: rgba(66, 176, 120, 0.95);
  padding: 10px;
}

.greenRibbonText:hover {
  background: rgba(66, 176, 120, 0.50);
}

.greenRibbonText a {
  color: white !important;
}

.workNav {
  border-bottom: 1px dotted #42b078;
}

b {
  font-weight: bold !important;
}

.text-center {
  text-align: center !important;
}

.serviceSection {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid #42b078;
  border-right: none;
  border-left:none;
  border-top: none;
}

.otherServiceSection {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid #42b078;
  border-right: none;
  border-bottom: none;
  border-left:none;
}

.largePaddingButton {
  padding:35px;
}
.testimonial {
  padding: 30px;
}

.largeButton {
  color: white !important;
}
.homeHeading2 {
  color: rgb(75, 68, 65) !important;
}

.hero.is-success {
    /*background: linear-gradient(rgba(255, 255, 255, 0.64),rgba(255, 255, 255, 0.12)),url(water4.jpg);*/
    background-size: cover;
    background:white;
    background-position-y: 90%; 
    color: #fff;
}


.hero.is-fullheight .hero-body {
  align-items: baseline;
}

.hero.is-success a.nav-item, .hero.is-success .nav-item a:not(.button) {
  color: rgb(117, 107, 107);
}

.hero.is-success a.nav-item:hover, .hero.is-success a.nav-item.is-active {
  color: #42b078;
}

.button.is-success {
  background-color: #42b078;
}
.button.is-success:hover {
  background-color: #42b078;
  color: #444444 !important;
}

@media screen and (max-width: 768px) {
.hero.is-success .nav-menu {
    background-color: white; 
}
}

.button.is-success.is-outlined {
    background-color: transparent;
    border-color: #42b078;
    color: #42b078;
}
.button.is-success.is-outlined:hover {
    background-color: #42b078;
    border-color: #97cd76;
    color: black;
}